/* dashboard styling, general styling */
*{
    margin: 0px;
}
#main, #canvas{
    border: 2px solid black;
}
#canvas{
    margin:auto;
    width: 90%;
    height: auto;
}
#dashboard-body{
    margin-top: 10px;
    padding: 10px;
}
.button-container {
    display: flex;
    gap: 10px;
}
.custom-search-bar {
    margin-left: 700px;
    
}

/*campaign management styling for sponsor --> new camp, edit camp etc.*/
#campaign-section{
    border: 2px solid rgb(184, 17, 190);
    width: 488px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5%;
    padding: 15px;
}

/* sponsor dashboard, style buttons for edit, del, adreq */
#button-container{
    display: flex;
    justify-content: flex-start;

}
#button-conatiner button{
    margin-right: 10px;
    background-color: rgb(109, 4, 109) !important;
    color: white;

}

