<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Ad Request stats for admin</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container" style="background-color: aquamarine; min-height: 100vh;">
        
                <!-- nav bar as it is -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">Confluence</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" style="margin-left: 900px;">
                      <button class="btn btn-outline-danger" type="button" onclick="location.href='/'">Logout</button>
                  </form>
                  </div>
                </div>
              </nav>
              <br>

            <!-- Ad requests Summary  -->
              <div class="container mt-4">
                <h5>Ad Requests </h5><br>
                {% if ads|length == 0 %}
                <p> No ad requests right now</p>
                {% else %}
                <table class="table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th scope="col">S.No.</th>
                      <th scope="col">request_id</th>
                      <th scope="col">Campaign</th>
                      <th scope="col">Influencer</th>
                      <th scope="col">Niche</th>
                       <th scope="col">Status</th>
                       <th scope="col">Payment_amt</th>
                       <th scope="col">Ends</th>
                       <th scope="col">Goals</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for req in ads %}
                    <tr>
                      <th scope="row">{{loop.index}}</th>
                      <td>{{req.request_id}}</td>
                      <td>{{req.campaign.camp_name}}</td>
                      <td>{{req.influencer.full_name}}</td>
                      <td>{{req.niche}}</td>
                      <td>{{req.status}}</td>
                      <td>{{req.payment_amt}}</td>
                      <td>{{req.end_date}}</td>
                      <td>{{req.requirements}}</td>
                    </tr> 
                    {% endfor %}     
                  </tbody>
                </table> 
                {% endif %}       
            </div>

          
       
    </div>
    
</body>
</html>