<!DOCTYPE html>
<html lang="en">

<head>

    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div id="main">
        <div id="canvas">
            <div id="dashboard-body">
                <!-- nav bar for Admin dashboard -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <span style="margin-right: 10px; font-size: large;">Welcome {{name}} </span>
                            </ul>
                            <form class="d-flex">
                                <button class="btn btn-outline-danger" type="button"
                                    onclick="location.href= '/userlogin'">Logout</button>
                            </form>

                        </div>
                    </div>
                </nav><br>
                <h3><i>Summary</i></h3>
                <br>

                <!--Influencers' detail-->
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <!--Column 1 -->
                      <div class="card" style="width: 18rem; border-radius: 5%;">
                        <div class="card-body">
                            <h5 class="card-title" stlye="text-align:center">Influencers</h5>
                            <p class="card-text">Active </p>
                            <p class="card-text">Flagged </p>
                            <p class="card-text">Total</p>
                            
                            <div id="button-container">
                                <button type="button" class="btn btn"
                                    style="background-color: rgb(109, 4, 109); margin-right: 10px; color:white"> View </button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card" style="width: 18rem; border-radius: 5%;">
                        <div class="card-body">
                            <h5 class="card-title" stlye="text-align:center">Sponsors</h5>
                            <p class="card-text">Active </p>
                            <p class="card-text">Flagged </p>
                            <p class="card-text">Total</p>
                            
                            <div id="button-container">
                                <button type="button" class="btn btn"
                                    style="background-color: rgb(109, 4, 109); margin-right: 10px; color:white"> View </button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card" style="width: 18rem; border-radius: 5%;">
                        <div class="card-body">
                            <h5 class="card-title" stlye="text-align:center">Campaigns</h5>
                            <p class="card-text">Active </p>
                            <p class="card-text">Flagged </p>
                            <p class="card-text">Total</p>
                            
                            <div id="button-container">
                                <button type="button" class="btn btn"
                                    style="background-color: rgb(109, 4, 109); margin-right: 10px; color:white"> View </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><br><br>

              

            <!--Flagged Users' detail-->
            <div class="container">
              <div class="row">
                  <div class="col" style="margin-bottom: 40px;">
                      <div class="card" style="width: 18rem; border-radius: 5%;">
                          <div class="card-body">
                              <h5 class="card-title" >Flagged users</h5>
                              <p class="card-text">Active </p>
                              <p class="card-text">Flagged </p>
                              <p class="card-text">Total</p>
                              
                              <div id="button-container">
                                  <button type="button" class="btn btn"
                                      style="background-color: rgb(109, 4, 109); margin-right: 10px; color:white"> View </button>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>
          </div><br><br>

               
            
            </div>
        </div>
    </div>

</body>

</html>