<!DOCTYPE html>
<html lang="en">

<head>

    <title>Campaign Mgmt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body style="background-color: aquamarine;">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card shadow-lg p-4 border rounde-8" style="width: 100%; max-width: 350px;">
            <div class="card-body">
                <div class="card-text">
                    <form action= "/sponsor/edit/{{ s_name.id }}/campaign/{{ campaign.camp_id }}" method="post"> <!-- form action-->

                        <h2 style="text-align: center;">My Campaign</h2>

                        <div class="form-group">
                            <label for="camp_name">Name:</label>
                            <input type="text" class="form-control" id="camp_name" name="camp_name" value="{{campaign.camp_name}}">
                            <!--name attribute takes data to backend-->
                        </div><br>

                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input type="text" class="form-control" id="category" name="category" value="{{ campaign.category }}">
                        </div><br>

                        <div class="form-group">
                            <label for="s_date">Start Date</label>
                            <input type="date" class="form-control" id="s_date" name="s_date" value="{{ campaign.s_date }}">
                        </div><br>

                        <div class="form-group">
                            <label for="e_date">End Date</label>
                            <input type="date" class="form-control" id="e_date" name="e_date" value="{{ campaign.e_date }}">
                        </div><br>

                        <div class="form-group">
                            <label for="budget">Budget</label>
                            <input type="number" class="form-control" id="budget" name="budget" value="{{campaign.budget}}">
                        </div><br>

                        <div class="form-group">
                            <label for="visibility">Visibility</label>
                            <select class="form-control" id="visibility" name="visibility">
                                <option value="public" {% if campaign.visibility == 'public' %} selected {% endif %}>Public</option>
                                <option value="private" {% if campaign.visibility == 'private' %} selected {% endif %}>Private</option>
                            </select>
                        </div><br>

                        <div class="form-group">
                            <label for="campaignDescription">Description</label>
                            <textarea class="form-control" id="campaignDescription" rows="2" name="describe" >{{ campaign.description }}</textarea>
                        </div>
                        <br>
                        <div style="text-align: center;">
                            <!--<button type="submit" class="btn btn-primary" >Create Campaign</button>-->
                            <input type="submit" class="btn btn-primary mb-3" value="Save Changes">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>