<!DOCTYPE html>
<html lang="en">

<head>
  <title>Influencer Dashboard</title>
  <link rel="stylesheet" href="../static/dashboard.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
  <div class="container" >
    
        <!-- Nav bar for influencer dashboard -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light " >
          <div class="container-fluid">
            <label style="margin-right: 15px;">Welcome {{ influencer.user_name }}</label>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <button type="button" class="btn btn-outline-info" style="margin-right: 10px;"
                    onclick="location.href='/influencer/update/{{ influencer.id }}'">Update Profile</button>
                </li>
              </ul>
              <form class="d-flex" style="margin-right: 10px;" action="/search">
                <input class="form-control me-2" type="search" placeholder="Search Campaign" aria-label="Search" name="srch_word">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <form class="d-flex">
                <button class="btn btn-outline-danger" type="button" onclick="location.href= '/userlogin'">Logout</button>
              </form>
            </div>
          </div>
        </nav><br>

        <!-- Profile -->
        <div style="display: flex; align-items: center;">
          <div style="width: 200px; height: 200px; background-color: #e34b92; color: white; border-radius: 50%; display: flex; justify-content: center; align-items: center;">
            <i class="bi bi-person-circle" style="font-size: 4rem;"></i>
          </div>
          <div style="margin-left: 20px;">
            <p>I am {{ influencer.full_name }}</p>
            <p>My current following is {{ influencer.followers }}</p>
            <p>My niche is {{ influencer.niche }}</p>
            <p>Active on {{ influencer.platform }}</p>
          </div>
        </div>
        <br>

        <!-- New Ad Requests -->
        <h5 style="margin-left: 10px;">New Ad Requests</h5>
        <div class="container mt-4">
          {% if pending_requests %}
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col">S.No.</th>
                  <th scope="col">Campaign</th>
                  <th scope="col">Category</th>
                  <th scope="col">Requirements</th>
                  <th scope="col">Payment Amount</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                {% for ad in pending_requests %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <!-- Debug output to see available keys -->
                  <td>{{ ad.campaign.camp_name  }}</td>
                  <td>{{ ad.campaign.category }}</td>
                  <td>{{ ad.ad_request.requirements }}</td>
                  <td>{{ ad.ad_request.payment_amt }}</td>
                  <td>{{ ad.ad_request.end_date  }}</td>
                  <td>
                    <div id="button-container">
                      <form action='/influencer/accept/{{ influencer.id }}/ad_request/{{ ad.ad_request.request_id }}' method="post">
                        <button type="submit" class="btn btn-success" style="margin-left:20px; margin-right: 20px;">Accept</button>
                      </form>
                      <form action='/influencer/{{ influencer.id }}/reject_ad_request/{{ ad.ad_request.request_id }}' method="POST"
                        onsubmit="return confirm('Are you sure you want to reject this ad request?');">
                        <input type="hidden" name="_method" value="REJECT">
                        <button type="submit" class="btn btn-danger">Reject</button>
                      </form>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p style="color: deeppink;"><b>No new ad requests available.</b></p>
          {% endif %}
        </div><br>

        <!-- Influencer's current or active campaigns -->
        <h5 style="margin-left: 10px;">My Engagements</h5>
        <div class="container mt-4">
          {% if accepted_requests %}
            <table class="table table-bordered table-striped">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col">S.No.</th>
                  <th scope="col">Campaign</th>
                  <th scope="col">To Do</th>
                  <th scope="col">Status</th>
                  <th scope="col">Payment Amount (INR)</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                {% for ad in accepted_requests %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ ad.campaign.camp_name }}</td>
                  <td>Active</td>
                  <td>{{ ad.ad_request.status }}</td>
                  <td>{{ ad.ad_request.payment_amt }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p style="color: blueviolet;"><b>You don't have any ongoing activity :(</b></p>
          {% endif %}
        </div>

     
  </div>
  
</body>

</html>
